
<!-- ADMIN "Manage Appointments" EJS -->

<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

<main class = "pageContent">
  
  
  <!-- Search Appointments box/search function -->
  <label for="search" class="visually-hidden">Search appointments</label>
  <input class="searchFunc" id="search" type="text" placeholder="Search appointments..." />

  <label for="lNameSort" class="visually-hidden">Sort appointments by student name</label>

      <select id="lNameSort" >
        <option value="">Sort by Student Name</option>
        <option value="az">Last Name: A-Z</option>
        <option value="za">Last Name: Z-A</option>
      </select>

    <label for="courseFilter" class="visually-hidden">Filter appointments by course</label>

    <select id="courseFilter">
      <option value="">All Courses</option>
      <!-- course dropdown, dynamically loading courses into dropdown (to include any courses added)-->
      <% courses.forEach(function(course) { %>
        <option value="<%= course.courseName %>">
          <%= course.courseName %>
        </option>
      <% }); %>
    </select>


  <button class = "small-red-button-round" type="button" id="notifs">Notifications</button>

  <!-- Appointment/cancellation buttons -->
  <button class = "small-red-button-round" type="button" id="cancelBtn">Cancel Appointment</button>


  
  
  <!-- Appointments Table -->
<div class = "apptSection" > <!-- BEGIN FLEX -->
  <div style="flex: 1;">
  <table class = "apptTable tableHover">
    <thead>
      <tr class = "tableRow">
          <!-- headers (1st row) -->

        <th>Select</th>
        <th>Date</th>
        <th>Time</th>
        <th>Student Name</th>
        <th>Tutor Name</th>
        <th>Course</th>
        <th>Attendance</th>
        <th>Tutor Comments</th>
      </tr>
    </thead>

    <tbody id="rows">
    <!-- checking if appointments exist -->
      <% if (appointments && appointments.length > 0) { %>
        <!-- looping through appointments-->
    <% appointments.forEach(function(appointment) { %>
      <tr data-lname="<%= appointment.studentId?.lname || '' %>"
        data-course="<%= appointment.course || '' %>">
        <!-- radio button instead of checkbox -> only one appt selected at a time to cancel or assign tutor-->
    <td>
  <label>
    <input type="radio" name="selectedAppointment" value="<%= appointment._id %>">
    <span class="visually-hidden">
      Select appointment for 
      <%= appointment.studentId?.fname %> <%= appointment.studentId?.lname %>
    </span>
  </label>
</td> 
    <!-- formatted date -->
        <td> <%= appointment.appointmentDate ? formatDate(appointment.appointmentDate) : "No date" %> </td>
        <!-- printing start time and endtime-->
        <td>  <%= formatTo12Hour(appointment.startTime) %> -  <%= formatTo12Hour(appointment.endTime) %> </td>
        <!-- -->
        <td>
          <!-- if student id/firstName exists -->
          <% if (appointment.studentId && appointment.studentId.fname) { %>
            <!-- print first and last name-->
            <%= appointment.studentId.fname %> <%= appointment.studentId.lname %>
          <% } else { %>
            <!-- print fallback (to avoid crashing) -->
            Unknown student
          <% } %>
        </td>
        <!-- -->
        <td>
          <!-- if tutor shift id exists/tutorId/first name,-->
          <% if (
            appointment.tutorShiftId &&
            appointment.tutorShiftId.tutorId &&
            appointment.tutorShiftId.tutorId.fname
          ) { %>
          <!-- print tutor first and last name-->
            <%= appointment.tutorShiftId.tutorId.fname %>
            <%= appointment.tutorShiftId.tutorId.lname %>
          <% } else { %>
            <!-- print fallback (to avoid crashing) -->

            No tutor assigned
          <% } %>
        </td>
        <!-- prints course name-->
        <td><%= appointment.course %></td>
        <!-- prints attendance status -->
                
        <td>
          <%= appointment.attendance?.attendanceStatus || "pending" %>
        </td>

        <!-- prints tutor comments -->
        <td>
          <%= appointment.tutorComments && appointment.tutorComments.trim() !== "" 
                ? appointment.tutorComments 
                : "N/A" %>
        </td>

      </tr>
    <% }); %>
    <% } else { %>
    <tr>
      <td colspan="8">No appointments found.</td>
    </tr>
    <% } %>
  </tbody>
</table>
</div>



<!--Admin's Google Calendar-->
  <div style="flex: 1;">
  <div id="googleCalendarView">
  <iframe title="Admin Google Calendar" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&showPrint=0&src=aXN1dHV0b3JhZG1pbkBnbWFpbC5jb20&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039be5&color=%230b8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <a href="https://calendar.google.com/calendar/u/4?cid=aXN1dHV0b3JhZG1pbkBnbWFpbC5jb20" style="align-content: end;">Having trouble seeing the Google Calendar? Click here to view full calendar.</a>
  </div>

  </div>
  

</div> <!-- END APPONTMENTS CONTAINER -->
<!-- END FLEX -->


<div class = "modal notificationsModal" id="notificationsModal">
  <div class="modal-content notificationsContent">
    
    <div class="notificationsHeader">
      <h3 class = "headingText">Notifications</h3>
  <button id="closeNotificationsBtn">&times;</button>
  </div>

  <table class="notifTable tableHover">
    <thead>
      <tr class = "tableRow">
        <th>Time</th>
        <th>Details</th>
        </tr>
      </thead>
    
      <tbody>
        <% if (notificationLogs && notificationLogs.length > 0) { %> 
          <% notificationLogs.forEach(function(notification) { %> 
            <tr>

                <td class = "modalText">
                 <%= notification.actionTime ? new Date(notification.actionTime).toLocaleString() : "No time" %>
                </td>


                <td class = "modalText">
                  <% if (notification.notificationType === "STUDENT_BOOK_APPT") { %>
                    &nbsp;Confirmation email sent for student
                    <%= notification.recipientUserId ? notification.recipientUserId.fname + " " + notification.recipientUserId.lname + "'s" : "Unknown" %>
                    appointment booking; appointment details:
                    <%= notification.appointmentId && notification.appointmentId.appointmentDate ? new Date(notification.appointmentId.appointmentDate).toISOString().split("T")[0]
                    : "No date" %>
                    at
                    <%= notification.appointmentId && notification.appointmentId.startTime
                    ? formatTo12Hour(notification.appointmentId.startTime)
                    : "No start time" %>
                    -
                    <%= notification.appointmentId && notification.appointmentId.endTime
                    ? formatTo12Hour(notification.appointmentId.endTime)
                    : "No end time" %>

                  <% } else if (notification.notificationType === "ADMIN_CANCEL_APPT") { %>
                    &nbsp;Confirmation email sent for student
                    <%= notification.recipientUserId ? notification.recipientUserId.fname + " " + notification.recipientUserId.lname + "'s" : "Unknown" %>
                    appointment cancellation by admin; cancelled appointment details:
                    <%= notification.appointmentId && notification.appointmentId.appointmentDate ? new Date(notification.appointmentId.appointmentDate).toISOString().split("T")[0]
                    : "No date" %>
                    at
                    <%= notification.appointmentId && notification.appointmentId.startTime
                    ? formatTo12Hour(notification.appointmentId.startTime)
                    : "No start time" %>
                    -
                    <%= notification.appointmentId && notification.appointmentId.endTime
                    ? formatTo12Hour(notification.appointmentId.endTime)
                    : "No end time" %>

                  <% } else if (notification.notificationType === "STUDENT_CANCEL_APPT") { %>
                    &nbsp;Confirmation email sent for student
                    <%= notification.recipientUserId ? notification.recipientUserId.fname + " " + notification.recipientUserId.lname + "'s" : "Unknown" %>
                    appointment cancellation; cancelled appointment details:
                    <%= notification.appointmentId && notification.appointmentId.appointmentDate ? new Date(notification.appointmentId.appointmentDate).toISOString().split("T")[0]
                    : "No date" %>
                    at
                    <%= notification.appointmentId && notification.appointmentId.startTime
                    ? formatTo12Hour(notification.appointmentId.startTime)
                    : "No start time" %>
                    -
                    <%= notification.appointmentId && notification.appointmentId.endTime
                    ? formatTo12Hour(notification.appointmentId.endTime)
                    : "No end time" %>

                  <% } else if (notification.notificationType === "SEND_EMAIL_FAILED") { %>
                    &nbsp;Error occurred when sending email for
                    <%= notification.recipientUserId ? notification.recipientUserId.fname + " " + notification.recipientUserId.lname + "'s" : "Unknown" %>
                    appointment; appointment details:
                    <%= notification.appointmentId && notification.appointmentId.appointmentDate ? new Date(notification.appointmentId.appointmentDate).toISOString().split("T")[0]
                    : "No date" %>
                    at
                    <%= notification.appointmentId && notification.appointmentId.startTime
                    ? formatTo12Hour(notification.appointmentId.startTime)
                    : "No start time" %>
                    -
                    <%= notification.appointmentId && notification.appointmentId.endTime
                    ? formatTo12Hour(notification.appointmentId.endTime)
                    : "No end time" %>

                  <% } else { %>
                    Unknown notification type
                  <% } %>
                </td>

                </tr>
                <% }) %>
                <% } else { %> 
                  <tr> 
                    <td colspan="2">No notifications</td>
                    </tr>
               <% } %>
        </tbody>
  </table>

      <div style="margin-top:12px;">
      </div>

  </div>
</div>


  <!-- Cancellation History Modal -->
   <!-- modal fixed (no-scroll), darkended bg when opened-->
  <div id="historyModal" style="display:none; position:fixed; inset:0; background:rgba(0,0,0,.35); padding:30px;">
   
    <div style="background:#fff; padding:12px; max-width:900px; margin:0 auto;">
      <div style="display:flex; justify-content:space-between; align-items:center;">
     <h3 style="margin:0;">Cancellation History</h3>
        <button type="button" id="closeHistoryBtn">X</button>
      </div>
<!-- styling table margin/width, modify later in separate css-->
      <table border="1" cellpadding="6" cellspacing="0" style="margin-top:10px; width:100%;">
        <thead>
          <tr>
            <th>Cancelled At</th>
            <th>Date</th>
            <th>Time</th>
            <th>Student</th>
           <th>Tutor</th>
            <th>Course</th>
          </tr>
        </thead>
           <tbody id="historyRows"></tbody>
      </table>
</div>
</div>





    <!-- Confirm Cancel Modal -->
  <div id="confirmCancelModal" class = "modal">
  <div class = "modal-content">
    <h3 class = "headingText">Confirm Cancellation</h3>
    <p class = "modalText">Are you sure you want to cancel this appointment?</p>
    <form action="/adminIndex/cancelAppointment" method="POST">
      <input type="hidden" name="appointmentId" id="confirmAppointmentId">
      <button type="submit" class="small-red-button-round">Yes, Cancel</button>
      <button type="button" id="closeConfirmBtn" class = "small-gray-button-round">No</button>
    </form>
  </div>
</div>


</main>



<script src="/js/adminIndex.js"></script>
</main>
<%- include("includes/_footer") %>
