
<!-- ADMIN "Audit Log" EJS -->

<%- include("includes/_header") %>



<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>


<body>
  <div class = "pageContent">

    
<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>


  <div style="padding: 30px;"></div>


  
  <input class = "searchFunc" type="text" id="auditSearch" placeholder="Search audit logs..." />

  <select class="actionFilter">
  <option value="">Appointment Actions</option>
  <option value="APPOINTMENT_CANCELLED">Appointment Cancelled</option>
</select>

<select class="actionFilter">
  <option value="">Tutor Actions</option>
  <option value="TUTOR_ADDED">Tutor Added</option>
  <option value="TUTOR_STATUS_CHANGED">Tutor Status Changed</option>
  <option value="TUTOR_SHIFT_ASSIGNED">Tutor Shift Assigned</option>
  <option value="TUTOR_SHIFT_REMOVED">Tutor Shift Removed</option>
  <option value="USER_EDITED" data-role-filter="tutor">Tutor Edited</option>  
</select>



<select class="actionFilter">
  <option value="">Student Actions</option>
  <option value="STUDENT_ADDED">Student Added</option>
  <option value="STUDENT_STATUS_CHANGED">Student Status Changed</option>
  <option value="USER_EDITED" data-role-filter="student">Student Edited</option>
</select>



<select class="actionFilter">
  <option value="">Availability Actions</option>
  <option value="CENTER_HOURS_CHANGED">Center Hours Changed</option>
  <option value="EXCEPTION_ADDED">Exception Added</option>
  <option value="BLACKOUT_DATE_ADDED">Blackout Date Added</option>
</select>



    <br></br>
     
      <table class="auditTable tableHover">
        <thead>
          <tr class = "auditRow">
            <!-- table headings for audit log -->
            <th>Timestamp</th>
            <th>Action</th>
            <th>Details</th>
          </tr>
        </thead>

        
        <tbody id="auditTableBody">
            <% if (auditLogs && auditLogs.length > 0) { %>

          <!-- loading the audit logs into table  -->
          <% auditLogs.forEach(log => { %>
            <tr 
                data-action="<%= log.actionType %>"
                data-role="<%= log.details && log.details.toLowerCase().includes('role: tutor') ? 'tutor' : log.details && log.details.toLowerCase().includes('role: student') ? 'student' : '' %>"
              >
              <td><%= new Date(log.timestamp).toLocaleString() %></td>
              <td><%= log.actionType %></td>
              <td><%= log.details %></td>
            </tr>
          <% }) %>

          
          <% } else { %>
            <tr>
             <td colspan="3" style="text-align: center;">
               No audit logs found.
            </td>
             </tr>
          <% } %>
        </tbody>
      </table>

      <br><br>

  </div>


  </div>

</body>

<script src="/js/adminAuditLog.js"></script>




