<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

  <br>
 

  <form action="/adminTutorIndex/toggle" method="POST">

  <input type="text" id="search" placeholder="Search tutors..." />

  <button type="submit">Toggle Active</button>

  <br><br>

  <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
      </tr>
    </thead>

    <tbody id="tutorRows">
      <% tutors.forEach(tutor => { %>
         <tr class="<%= tutor.isActive ? '' : 'inactive-row' %>">

          <td>
            <input type="radio" name="selectedTutor" value="<%= tutor._id %>">
          </td>
          <td><%= tutor.fname %> <%= tutor.lname %></td>
          <td><%= tutor.email %></td>
          <td><%= tutor.isActive ? "Yes" : "No" %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

</form>
<%- include("includes/_footer") %>
