<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

<body>
  <br>
 
<div class="adminTutorContainer">
  <div class="adminTutorContent">
    <div class="leftAdminTutorPanel">
      
      <form action="/adminTutorIndex/toggle" method="POST" id="tutorTableForm">
        <input type="text" id="search" placeholder="Search tutors..." />
        <button type="submit">Toggle Active</button>

        <!-- Add tutor button -> opens Modal-->
        <button type="button" id="openAddTutorModal">Add Tutor</button>
        <button type="button" id="openAssignTutorModal">Assign Tutor Hours</button>
        <button type="button" id="openClearTutorModal">Clear Tutor Hours</button>

        <br><br>

        <table border="1" cellpadding="6" cellspacing="0">
          <thead>
            <tr>
              <th>Select</th>
              <th>Name</th>
              <th>Email</th>
              <th>Active</th>
            </tr>
          </thead>

          <tbody id="tutorRows">
            <% tutors.forEach(tutor => { %>
              <tr class="<%= tutor.isActive ? '' : 'inactive-row' %>">
                <td>
                  <input type="radio" name="selectedTutor" value="<%= tutor._id %>">
                </td>
                <td><%= tutor.fname %> <%= tutor.lname %></td>
                <td><%= tutor.email %></td>
                <td><%= tutor.isActive ? "Yes" : "No" %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </form>

      
    </div>
    <div class="rightAdminTutorSchedulePanel" id="viewTutorScheduleDiv">
      <div class="scheduleContent">

        <form action="/adminTutorIndex/viewSchedule" method="POST" id="viewScheduleForm">
          <input type="hidden" name="tutorId" id="selectedTutorInput">
          <button type="submit" id="viewTutorScheduleBtn">View Tutor Schedule</button>
        </form>
    
        <div class="scheduleResults">
        <% if (error) { %>
          <br/><br/>
          <div class="alert"><%= error %></div>
        <% } else if (shifts && shifts.length > 0) { %>
          <h3>Scheduled Shifts for <%= shifts[0].tutorId.fname %> <%= shifts[0].tutorId.lname %></h3>
          <% shifts.forEach(shift => { %>
            <div class="tutorShiftInfo">
              <p><%= shift.shiftDate.toUTCString().slice(0, 16) %></p>
              <p><b><%= shift.startTime %> - <%= shift.endTime %></b></p>
            </div>
          <% }) %>
        <% } else { %>
          <p>No shifts found.</p>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- "Add Tutor" Modal -> form to create/Add new tutor to db  -->
   <!-- pop-up container-->
<div id="addTutorModal" class="modal">
  <!-- content box (temp white)-->
  <div class="modal-content">
    <!-- x to close modal-->
    <span class="close-btn" id="closeAddTutorModal">&times;</span>

    <h2>Add Tutor</h2>
<!-- connected to route, sends data to /adminUsers/add, POST req for submission-->
    <form action="/addUser" method="POST">
      <!-- data to be sent (first name, last name, email, password (We can just have it as a 
       temporary password set by admin for students to use to login and then student can change password after
       / be sent a link to change password? ) )-->
      <input type="hidden" name="role" value="tutor">


      <!-- -->
      <input type="hidden" name="sourcePage" value="adminTutorIndex">



      <label>First Name:</label>
  <input type="text" name="fname" required>
      <br><br>

      <label>Last Name:</label>
     <input type="text" name="lname" required>
      <br><br>

      <label>Email:</label>
      <input type="email" name="email" required>
    <br><br>
      <label>Password:</label>
      <input type="password" name="password" required>

<!-- a tutor NEEDS to be assigned to at least one course based on User model, 
 so we need to make sure that when admin creates a tutor, they assign them to the 
 existing courses from db
 
 so this is a checkbox functionality where admin can select which courses the tutor will 
 be tutoring students for-->
<label>Courses:</label><br>
      <% courses.forEach(course => { %>
        <label>
          <input type="checkbox" name="tutorCourses" value="<%= course._id %>">
         <%= course.courseName %>
        </label>
        <br>
      <% }) %>

      <br><br>
      
      <button type="submit">Create Tutor</button>
    </form>
  </div>
</div>






  <!-- "ASSIGN TUTOR HOURS" Modal -->
   <!-- pop-up container-->
<div id="assignTutorModal" class="modal">
  <!-- content box (temp white)-->
  <div class="assign-modal-content">
    <!-- x to close modal-->
    <span class="assign-close-btn" id="closeAssignTutorModal">&times;</span>

    <h2>Assign Tutor Hours</h2>

<!-- connected to route, sends data to /addUser, POST req for submission-->
 <!-- <form action="/viewAvailableTutorShifts" method="POST"></form> -->
    <form action="/assignTutorHours" method="POST">
      
      <input type="hidden" name="role" value="tutor">
      
<!-- looping through ACTIVE tutors in dropdown menu -->
<select name="tutorId" required>
  <option value="">-- Select Tutor --</option>

  <% activeTutors.forEach(function(tutor) { %>
    <option value="<%= tutor._id %>" <%= selectedTutorId && selectedTutorId.toString() === tutor._id.toString() ? "selected" : "" %>>
      <%= tutor.fname %> <%= tutor.lname %>
    </option>
  <% }); %>
</select>

<br><br>

<!-- choosing day from calendar (flatpickr) -->
<input type="text" id="shiftDate" name="shiftDate" value = "<%= selectedShiftDate || '' %>" required>

<button type="submit" name="action" value="view">View Available Shifts</button>

 <% if (openAssignTutorModal && availableShiftBlocks && availableShiftBlocks.length > 0){%>
  <h3>Available Shifts</h3>

  
  <div class="shift-checkbox-container">
    <% availableShiftBlocks.forEach(function(block) { %>
      <label>
        <input 
          type="checkbox" 
          name="shiftBlocks"
          value="<%= block.value %>">
        <%= block.label %>
      </label>
      <br>
    <% }); %>
  </div>

  <br>

  <button type = "submit" name ="action" value ="assign">Assign Hours</button>

  <% } else if (openAssignTutorModal && availableShiftBlocks && availableShiftBlocks.length === 0) { %>
  <p>No available shifts for date.</p>
<% } %>





 <!-- <button type="submit">Assign Hours</button> -->
 
    </form>
  </div>
</div>
<!-- end of assignTutorModal -->







  <!-- "CLEAR TUTOR" Modal -> FORM TO CLEAR TUTOR HOURS & pop-up container-->
<div id="clearTutorModal" class="modal">
  <!-- content box (temp white)-->
  <div class="clear-modal-content">
    <!-- x to close modal-->
    <span class="clear-close-btn" id="closeClearTutorModal">&times;</span>

    <h2>Clear Tutor Hours</h2>
<!-- connected to route, sends data to /addUser, POST req for submission-->
    <form action="/clearTutorHours/remove" method="POST">
      <!-- data to be sent (first name, last name, email, password (We can just have it as a 
       temporary password set by admin for students to use to login and then student can change password after
       / be sent a link to change password? ) )-->
      <input type="hidden" name="role" value="tutor">
      
<!-- looping through tutors in dropdown menu -->
<select name="tutorId" required>
  <option value="">-- Select Tutor --</option>

      <% activeTutors.forEach(function(tutor) { %>
      <option value="<%= tutor._id %>">
      <%= tutor.fname %> <%= tutor.lname %>
    </option>
  <% }); %>
</select>

<br><br>

 <!-- input type changed to "text" for flatpickr-->
<input type="text" name="shiftDate" id = "ShiftDate" placeholder="-- Select Date --" required>

      <br><br>
      <button type="submit">Clear Tutor Hours</button>
      <br><br>
    </form>

  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<script>
  window.closedWeekdays = <%- JSON.stringify(closedWeekdays || []) %>;
</script>
<!-- Flatpickr CDN -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  window.openAssignTutorModal = <%= openAssignTutorModal ? 'true' : 'false' %>;
  </script>

</body>


<%- include("includes/_footer") %>
