
<!-- ADMIN "Manage Students" EJS -->

<%- include("includes/_header") %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

 
<main class = "pageContent">
 
  
  <div class="errorContainer">
<% if (error) { %>
  <div class="errorMessage" role = "alert"><strong></strong> <%= error %></div>
<% } %>
</div>


  <form action="/adminStudentIndex/toggle" method="POST">

  <!-- Search -->
  <label for="search" class="visually-hidden">Search appointments</label>
  <input class = "searchFunc" type="text" id="search" placeholder="Search students..." />
  
      <select id="lNameSort" >
        <option value="">Sort by Name</option>
        <option value="az">Last Name: A-Z</option>
        <option value="za">Last Name: Z-A</option>
      </select>


      
      <select id="statusSort">
        <option value="">All Students</option>
        <option value="activeOnly">Active</option>
        <option value="inactiveOnly">Inactive</option>
      </select>


<!-- toggle student status (active vs. inactive) button-->
  <button class = "small-red-button-round" type="submit" id="toggleActiveBtn">Toggle Status</button>
<!-- Add user (student) button -> opens Modal-->
  <button class = "small-red-button-round" type="button" id="openAddStudentModal">Add Student</button>
<!--Edit Student Button-->
  <button class = "small-red-button-round" type="button" id="openEditStudentModal">Edit Student</button>

<br><br>





  <!-- Students Table -->
  <table class = "studentTable tableHover">
    <thead>
      <tr class = "tableRow">
        <th>Select</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>

<!-- Loop through student array (from adminController)-->
    <tbody id="studentRows">
       <% students.forEach(student => { %>
        <!-- use no class (' ') if student is active, use 'inactive-row' styling if student is not active-->
         <tr class="<%= student.isActive ? '' : 'inactive-row' %>"
            data-fname="<%= student.fname %>"
            data-lname="<%= student.lname %>"
            data-email="<%= student.email %>"
            data-id="<%= student._id %>"
            data-isactive="<%= student.isActive %>">
<!-- creates a radio button per student for selection (to edit student status as inactive/actvie)-->
          <td>
            <input type="radio" name="selectedStudent" value="<%= student._id %>"  aria-label="Select <%= student.fname %> <%= student.lname %>" >
          </td>
          <td><%= student.fname %> <%= student.lname %></td>
          <td><%= student.email %></td>
          <!-- prints student's status based on isActive -->
          <td><%= student.isActive ? "Active" : "Inactive" %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>


  </form>


  <!-- "Add Student" Modal -> form to create/Add new student to db  -->
   <!-- pop-up container-->
<div id="addStudentModal" class="modal">
  <!-- content box (temp white)-->
  <div class="modal-content">
    <!-- x to close modal-->
    <span class="close-btn" id="closeAddStudentModal">&times;</span>

    <h2 class = "headingText">Add Student</h2>
<!-- connected to route, sends data to /addUser, POST req for submission-->
    <form action="/addUser" method="POST" onsubmit="return validateForm('addEmail')">
      <!-- data to be sent (first name, last name, email, password (We can just have it as a 
       temporary password set by admin for students to use to login and then student can change password after
       / be sent a link to change password? ) )-->
      <input type="hidden" name="role" value="student">
      <input type="hidden" name="sourcePage" value="adminStudentIndex">
      <label class = "modalText">First Name:</label>
  <input type="text" name="fname"  class = "inputFunc" required>
      <br><br>

      <label class = "modalText">Last Name:</label>
     <input type="text" name="lname"  class = "inputFunc" required>
      <br><br>

      <label class = "modalText">Email:</label>
      <input type="email" name="email" id="addEmail"  class = "inputFunc" required>
      <span id="addEmailError" style="color: red; font-size: 0.8em; display: block; margin-top: 1px;"></span>
      <br><br>
      <label class = "modalText">Password:</label>
      <input type="password" name="password"  class = "inputFunc" required>
      <span id="passwordError" style="color: red; font-size: 0.8em; display: block; margin-top: 1px;"></span>
      <br /><br />
      <label class = "modalText">Confirm Password:</label>
      <input type="password" name="confirmPassword"  class = "inputFunc" required>
      <br><br>
      <button class = "small-red-button-round" type="submit">Create Student</button>
    </form>
  </div>
</div>


<!-- EDIT STUDENT MODAL -->
<div id="editStudentModal" class="modal">
  <div class="modal-content">
    <span class="close-btn" id="closeEditStudentModal">&times;</span>

      <h2 class = "headingText">Edit Tutor</h2>
      <form action="/editUser" method="POST" onsubmit="return validateForm('editEmail')">
      <input type="hidden" name="role" value="student">
      <input type="hidden" name="isActive">
      <input type="hidden" name="userId" id="editStudentId" >
      <label class = "modalText" >First Name:</label>
      <input type="text" name="fname"  class = "inputFunc" required>
      <br><br>

      <label class = "modalText">Last Name:</label>
     <input type="text" name="lname"  class = "inputFunc" required>
      <br><br>

      <label class = "modalText">Email:</label>
      <input type="email" name="email" id="editEmail" class = "inputFunc" required>
      <span id="editEmailError" style="color: red; font-size: 0.8em; display: block; margin-top: 1px;"></span>
      <br><br>
      <label class = "modalText">Password:</label>
      <input type="password" name="password"  class = "inputFunc">
      <span id="passwordError" style="color: red; font-size: 0.8em; display: block; margin-top: 1px;"></span>
      <br /><br />
      <label class = "modalText">Confirm Password:</label>
      <input type="password" name="confirmPassword"  class = "inputFunc">
      <p style="color: rgb(88, 73, 73); font-style: italic;">Keep password fields blank unless changing password.</p>
      <button type="submit" class="small-red-button-round">Submit Changes</button>
      </form>
  </div>
</div>

</main>


<%- include("includes/_footer") %>
