<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

  <br>
 

  <form action="/adminTutorIndex/toggle" method="POST">

  <input type="text" id="search" placeholder="Search tutors..." />

  <button type="submit">Toggle Active</button>

  <!-- Add tutor button -> opens Modal-->
  <button type="button" id="openAddTutorModal">Add Tutor</button>

  <button type="button" id= "openAssignTutorModal">Assign Tutor Hours </button>

  <button type="button" id= "openClearTutorModal">Clear Tutor Hours </button>


  <br><br>

  <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
      </tr>
    </thead>

    <tbody id="tutorRows">
      <% tutors.forEach(tutor => { %>
         <tr class="<%= tutor.isActive ? '' : 'inactive-row' %>">
          <!-- loading tutors in table-->
          <td>
            <input type="radio" name="selectedTutor" value="<%= tutor._id %>">
          </td>
          <td><%= tutor.fname %> <%= tutor.lname %></td>
          <td><%= tutor.email %></td>
          <td><%= tutor.isActive ? "Yes" : "No" %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

</form>



  <!-- "Add Tutor" Modal -> form to create/Add new tutor to db  -->
   <!-- pop-up container-->
<div id="addTutorModal" class="modal">
  <!-- content box (temp white)-->
  <div class="modal-content">
    <!-- x to close modal-->
    <span class="close-btn" id="closeAddTutorModal">&times;</span>

    <h2>Add Tutor</h2>
<!-- connected to route, sends data to /adminUsers/add, POST req for submission-->
    <form action="/addUser" method="POST">
      <!-- data to be sent (first name, last name, email, password (We can just have it as a 
       temporary password set by admin for students to use to login and then student can change password after
       / be sent a link to change password? ) )-->
      <input type="hidden" name="role" value="tutor">
      <label>First Name:</label>
  <input type="text" name="fname" required>
      <br><br>

      <label>Last Name:</label>
     <input type="text" name="lname" required>
      <br><br>

      <label>Email:</label>
      <input type="email" name="email" required>
    <br><br>
      <label>Password:</label>
      <input type="password" name="password" required>

<!-- a tutor NEEDS to be assigned to at least one course based on User model, 
 so we need to make sure that when admin creates a tutor, they assign them to the 
 existing courses from db
 
 so this is a checkbox functionality where admin can select which courses the tutor will 
 be tutoring students for-->
<label>Courses:</label><br>
      <% courses.forEach(course => { %>
        <label>
          <input type="checkbox" name="tutorCourses" value="<%= course._id %>">
         <%= course.courseName %>
        </label>
        <br>
      <% }) %>




      <br><br>
      <button type="submit">Create Tutor</button>
    </form>
  </div>
</div>



  <!-- "Assign Tutor Hours" Modal -> FORM TO ASSIGN TUTOR HOURS  -->
   <!-- pop-up container-->
<div id="assignTutorModal" class="modal">
  <!-- content box (temp white)-->
  <div class="assign-modal-content">
    <!-- x to close modal-->
    <span class="assign-close-btn" id="closeAssignTutorModal">&times;</span>

    <h2>Assign Tutor Hours</h2>
<!-- connected to route, sends data to /addUser, POST req for submission-->
    <form action="/assignTutorHours" method="POST">
      <!-- data to be sent (first name, last name, email, password (We can just have it as a 
       temporary password set by admin for students to use to login and then student can change password after
       / be sent a link to change password? ) )-->
      <input type="hidden" name="role" value="tutor">
      
<!-- looping through tutors in dropdown menu -->
<select name="tutorId" required>
  <option value="">-- Select Tutor --</option>

      <% activeTutors.forEach(function(tutor) { %>
      <option value="<%= tutor._id %>">
      <%= tutor.fname %> <%= tutor.lname %>
    </option>
  <% }); %>
</select>

<br><br>

<!-- Date (input type = date) with minimum of "today" : admin has to choose a date 
 for assign tutor shift from today and onward only-->
<input type="date" name="shiftDate" min="<%= today %>"  required>

<br><br>

<!-- step = "3600" ensures time picker only allows hour increments to choose from-->
<Label>Start Time: </Label>
<input type = "time" name = "startTime" step = "3600" required> 

<br><br>

<Label>End Time: </Label>
<input type = "time" name = "endTime" step = "3600" required> 


      <br><br>
      <button type="submit">Assign Hours</button>
      <br><br>
    </form>




  </div>
</div>







  <!-- "CLEAR TUTOR" Modal -> FORM TO CLEAR TUTOR HOURS & pop-up container-->
<div id="clearTutorModal" class="modal">
  <!-- content box (temp white)-->
  <div class="clear-modal-content">
    <!-- x to close modal-->
    <span class="clear-close-btn" id="closeClearTutorModal">&times;</span>

    <h2>Clear Tutor Hours</h2>
<!-- connected to route, sends data to /addUser, POST req for submission-->
    <form action="/clearTutorHours/remove" method="POST">
      <!-- data to be sent (first name, last name, email, password (We can just have it as a 
       temporary password set by admin for students to use to login and then student can change password after
       / be sent a link to change password? ) )-->
      <input type="hidden" name="role" value="tutor">
      
<!-- looping through tutors in dropdown menu -->
<select name="tutorId" required>
  <option value="">-- Select Tutor --</option>

      <% activeTutors.forEach(function(tutor) { %>
      <option value="<%= tutor._id %>">
      <%= tutor.fname %> <%= tutor.lname %>
    </option>
  <% }); %>
</select>

<br><br>

<!-- Date (input type = date) with minimum of "today" : admin has to choose a date 
 for assign tutor shift from today and onward only-->
<input type="date" name="shiftDate" min="<%= today %>"  required>

      <br><br>


      <br><br>
      <button type="submit">Clear Tutor Hours</button>
      <br><br>
    </form>

  </div>
</div>





<%- include("includes/_footer") %>
