<!--This pulls the availableShifts array from the controller and-->
<!--renders each one as a dropdown.-->

<!--When a student submits, it sends the selected tutorShiftId and course-->
<!--to our POST route.-->
<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

<!--Display student's booked appointments if any-->
<div class="mainContent">
    
    <!--div here that is right-aligned for change password-->


    <div class="contentContainer">
        <h1>Upcoming Appointments</h1>
        <% if (!bookedAppointments || bookedAppointments.length === 0) { %>
            <p>You have no upcoming appointments.</p>
        <% } else { %>
            <% bookedAppointments.forEach(appointment => { %>
                <div class="tutorShiftInfo">
                    <p><%= appointment.course %></p>
                    <!--used toUTCString() instead of .toDateString() to get the proper date and slice to look nice-->
                    <p><%= appointment.appointmentDate.toUTCString().slice(0, 16) %></p>
                
                    <p><b>
                        <%= formatTo12Hour(appointment.startTime) %> - <%= formatTo12Hour(appointment.endTime) %>
                    </b></p>
                    
                    <br> 

                    <!-- Cancel appointment button (shows up for each appointment)-->
                    <button
                        type = "button"
                        onclick="openStudentCancelModal('<%= appointment._id %>')">
                        Cancel Appointment
                    </button>
                


                </div>
            <% }) %>
        <% } %>
    </div>

    <div id="confirmCancelModal" style="display: none;">
        <div class = "modal-box">
            <h3>Confirm Cancellation</h3>
            <p>Are you sure you want to cancel this appointment?</p>

            <form id ="studentCancelForm" method="POST">
                <button type="submit">Yes, Cancel</button>
                <button type= "button" id = "closeConfirmBtn">No</button>
            </form>
        </div>
    </div>


    <hr class="sectionDivider">

    <div class="contentContainer">
        <h1>Past Appointments</h1>
        <% if (!pastBookedAppointments || pastBookedAppointments.length === 0) { %>
            <p>You have no past appointments.</p>
        <% } else { %>
            <% pastBookedAppointments.forEach(appointment => { %>
                <div class="tutorShiftInfo">
                    <p><%= appointment.course %></p>
                    <!--used toUTCString() instead of .toDateString() to get the proper date and slice to look nice-->
                    <p><%= appointment.appointmentDate.toUTCString().slice(0, 16) %></p>
                    
                    <p><b>
                        <%= formatTo12Hour(appointment.startTime) %> - <%= formatTo12Hour(appointment.endTime) %>
                    </b></p>
                    
                </div>
            <% }) %>
        <% } %>
    </div>
</div>

<%- include("includes/_footer") %>
