<!--This pulls the availableShifts array from the controller and-->
<!--renders each one as a dropdown.-->

<!--When a student submits, it sends the selected tutorShiftId and course-->
<!--to our POST route.-->
<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

<!--Display student's booked appointments if any-->
<div class="mainContent">
    <div class="contentContainer">
        <% if (!bookedAppointments || bookedAppointments.length === 0) { %>
            <p>You have no upcoming appointments.</p>
        <% } else { %>
            <% bookedAppointments.forEach(appointment => { %>
                <div class="tutorShiftInfo">
                    <p><%= appointment.course %></p>
                    <!--used toUTCString() instead of .toDateString() to get the proper date and slice to look nice-->
                    <p><%= appointment.appointmentDate.toUTCString().slice(0, 16) %></p>
                    <% 
                        const [startHour, startMinute] = appointment.startTime.split(":");
                        const [endHour, endMinute] = appointment.endTime.split(":");
                        let startHourNum = parseInt(startHour);
                        let endHourNum = parseInt(endHour);
                        const startAMPM = startHourNum >= 12 ? "PM" : "AM";
                        const endAMPM = endHourNum >= 12 ? "PM" : "AM";
                        startHourNum = startHourNum % 12 || 12;
                        endHourNum = endHourNum % 12 || 12;
                    %>
                    <p><b><%= startHourNum + ":" + startMinute + " " + startAMPM + " - " + endHourNum + ":" + endMinute + " " + endAMPM %></b></p>
                    
                    <br> 

                    <!-- Cancel appointment button (shows up for each appointment)-->

                    <form action = "/studentAppointment/cancel/<%= appointment._id %>" method = "POST">
                        <button
                        type = "submit"
                        onclick="return confirm('Are you sure you would like to cancel this appointment?');">
                        Cancel Appointment</button>
                    </form>


                </div>
            <% }) %>
        <% } %>
    </div>
</div>

<%- include("includes/_footer") %>
