<%- include("includes/_header") %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

    <!-- main page content-->
    <div class="mainContent">
        <div class="contentContainer">
            <div class="topSection">
                <h2>Book an Appointment</h2>
            </div>
            <div class="columns">
                <div class="column">
                    <form action="/viewAvailableAppointments" method="post">
                        <label for="course">Course:</label>
                        <select id="course" name="course" required>
                            <% courses.forEach(course => { %>
                                <option value="<%= course._id %>" <%= form && form.course == course._id ? 'selected' : '' %>>
                                    <%= course.courseName %>
                                </option>
                            <% }) %>
                        </select><br/><br/>
                        <label for="selectDay">Select a Day:</label>
                        <input type="date" id="selectDay" name="selectDay" value="<%= form ? form.selectDay : '' %>" required><br/><br/>
                        <button id="viewAppointments" type="submit">View Available Appointments</button>
                        <% if (error) { %>
                            <br/><br/>
                            <div class="alert"><%= error %></div>
                        <% } %>
                    </form>
                </div>
                <div class="column" id="scheduleInfo">
                    <% if (availableShifts.length === 0) { %>
                        <p>Select a day and course to view available appointments.</p>
                    <% } else { %>
                        <% availableShifts.forEach(shift => { %>
                            <div type="hidden" class="tutorShiftInfo" value="<%= shift._id %>">
                                <form action="/bookAppointment" method="post">
                                    <p><strong><%= shift.fname %> <%= shift.lname %></strong></p>
                                    <p><%= shift.courseName %></p>
                                    <p><%= shift.shiftDate.toDateString() %></p>
                                    <p><%= shift.startTime %> - <%= shift.endTime %></p>
                                    <button type="submit">Book</button>
                                </form>
                                    
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            
        </div>
    </div>

<%- include("includes/_footer") %>
