<%- include("includes/_header") %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

    <!-- main page content-->
    <div class="mainContent">
        <div class="contentContainer">
            <div class="topSection">
                <h2>Book an Appointment</h2>
            </div>
            <div class="columns">
                <div class="column">
                    <form action="/viewAvailableAppointments" method="post">
                        <label for="course">Course:</label>
                        <select id="course" name="course" required>
                            <% courses.forEach(course => { %>
                                <option value="<%= course._id %>" <%= form && form.course == course._id ? 'selected' : '' %>>
                                    <%= course.courseName %>
                                </option>
                            <% }) %>
                        </select><br/><br/>
                        <label for="selectDay">Select a Day:</label>
                        <input type="date" id="selectDay" name="selectDay" value="<%= form ? form.selectDay : '' %>" min = "<%= new Date().toISOString().split('T')[0] %>" required><br/><br/>
                        <button id="viewAppointments" type="submit">View Available Appointments</button>
                        <% if (error) { %>
                            <br/><br/>
                            <div class="alert"><%= error %></div>
                        <% } %>
                    </form>
                </div>
                <div class="column" id="scheduleInfo">
                    <!--Display available shifts-->
                    <% if (availableShifts.length === 0) { %>
                        <p>Select a day and course to view available appointments.</p>
                    <% } else { %>
                        <% availableShifts.forEach(shift => { %>
                            <div class="tutorShiftInfo">
                                <form action="/bookAppointment" method="post">
                                    <!--need to send tutor shift id and course to /bookAppointment route,
                                    use type="hidden" to visually hide from the user for clean UI-->
                                    <input type="hidden" name="tutorShiftId" value="<%= shift._id %>">
                                    <input type="hidden" name="course" value="<%= shift.courseName %>">

                                    <p><%= shift.courseName %></p>
                                    <!--used toUTCString() instead of .toDateString() to get the proper date and slice to look nice-->
                                    <p><%= shift.shiftDate.toUTCString().slice(0, 16) %></p>
                                  
                                    <p><b>
                                        <%= formatTo12Hour(shift.startTime) %> - <%= formatTo12Hour(shift.endTime) %>
                                    </b></p>
                                    
                                    <button type="submit">Book</button>
                                </form>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            
        </div>
    </div>

<%- include("includes/_footer") %>
