<%- include("includes/_header") %>

<% if (error) { %>
  <div class="alert"><strong>Error:</strong> <%= error %></div>
<% } %>

<!--Navigation Bar-->
<header>
  <%- include("includes/_navbar") %>
</header>

  <!--Tutor container for appointment functionality-->
  <div class="tutor-container">
    <div class="tutor-columns">
        <div class="tutor-column">
          <h1>Cancelled Appointments</h1>
          <div id="tutor-view-cancelled-appointments" class="tutor-view-cancelled-appointments">
            <br />
            <% if (!appointmentsLoaded) { %>
              <p>No cancelled appointments have loaded.</p>
            <% } else if (!cancelledAppointments || cancelledAppointments.length === 0) { %>
              <p>You have no cancelled appointments.</p>
            <% } else { %>
              <% cancelledAppointments.forEach(appointment => { %>
                <div class="tutorShiftInfo">
                  <p><b>Student: <%= appointment.student.fname %> <%= appointment.student.lname %></b></p>
                  <p><%= appointment.course %></p>
                  <!--used toUTCString() instead of .toDateString() to get the proper date and slice to look nice-->
                  <p><%= appointment.appointmentDate.toUTCString().slice(0, 16) %></p>
                  <!--Display in standard time-->
                  <% 
                    const [startHour, startMinute] = appointment.startTime.split(":");
                    const [endHour, endMinute] = appointment.endTime.split(":");

                    let startHourNum = parseInt(startHour);
                    let endHourNum = parseInt(endHour);

                    const startAMPM = startHourNum >= 12 ? "PM" : "AM";
                    const endAMPM = endHourNum >= 12 ? "PM" : "AM";

                    startHourNum = startHourNum % 12 || 12;
                    endHourNum = endHourNum % 12 || 12;
                  %> 
                  <p><b>
                    <%= startHourNum + ":" + startMinute + " " + startAMPM %> - <%= endHourNum + ":" + endMinute + " " + endAMPM %>
                  </b></p>
                  <br />
                </div> <!-- end of tutor shift info div -->
              <% }) %>
            <% } %>
          </div> <!-- end of tutor view cancelled appointments-->
    </div> <!-- end of tutor columns -->
  </div> <!-- end of tutor container -->

<%- include("includes/_footer") %>
